.navBar {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  height: 34px;
  border-bottom: grey;
  border-style: solid;
  border-width: 0.5px;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropdown-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 5px 16px;
  background-color: inherit;
  display: inline-block;
  cursor: pointer;
}

.logo-bit{
position: fixed;
left: 5%;
top: 3px;
justify-content: center;
text-anchor: middle;


}


.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgb(255, 0, 234);
  min-width: 120px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(115, 0, 138)
}

.dropdown:hover .dropdown-button {
  color: white;
  background-color: rgb(255, 0, 234);
}

.dropdown:hover .dropdown-content {
  display: block;
}
