.circleThing {
  mix-blend-mode: screen;
  transform-origin: 50% 49%;
  animation: rotating 50s linear infinite;
}

.svgText {
  fill: rgb(255, 255, 0);
  text-anchor: middle;
  font-family: "Prompt", sans-serif;
  font-size: 50px;
  mix-blend-mode: screen;
}

#svgAnimation {
  max-width: 800px;
}

.click-play{
display: block;
color: rgb(255, 74, 255);
cursor: pointer;
}

.click-play:hover{
  color: rgb(255, 0, 255);
}

.introHolder {
  will-change: opacity;
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
